* {
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
}

.body {
    max-width: 1920px;
}

/* Общий контент первого экрана */ 

.main-screen {
    display: grid;
    grid-template-columns: 1fr 1390px 1fr;
    grid-template-rows: 125px 1fr;
    background-color: rgba(244, 249, 255, 1);
    max-width: 1920px;
    height: 100vh;
    overflow-x: hidden;
}

/* Заголовок */

.content {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.title {
    margin: auto 0;
    width: 35%;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #2D9CDB;
}

.text-content {
    width: 65%;
    margin: auto 0;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #515151;
}


/* ссылка на возврат к главной странице */
.link {
    max-height: 40px;
    padding-top: 5px;
    position: relative;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    max-width: 1390px;
}

.link img {
    margin-right: 5px;
}

.link a {
    margin-right: 5px;
    text-decoration: none;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #82badf;
}

hr {
    opacity: 0.2;
}

/* Тело */

.content-body {
    margin-top: 120px;
    position: relative;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.first-row, .second-row {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: nowrap;
}

.second-row {
    margin-top: 80px;
}

.first-row-img, .second-row-img {
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
    justify-content: space-around;
}

.first-row-text, .second-row-text {
    width: 40%;
}

.first-row-text p, .second-row-text p {
    margin: 0%;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #252525;

}